<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2014 Waratek Ltd.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rules -->
      <package
            uri="http://www.waratek.com/rules/1.1"
            class="com.waratek.rules.RulesPackage"
            genModel="model/rules.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated rules -->
      <parser
            type="rules"
            class="com.waratek.rules.util.RulesResourceFactoryImpl"/>
   </extension>

</plugin>
