<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2014 Waratek Ltd.
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated rules -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.waratek.rules.presentation.RulesModelWizardID"
            name="%_UI_RulesModelWizard_label"
            class="com.waratek.rules.presentation.RulesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RulesModelFile.gif">
         <description>%_UI_RulesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rules -->
      <editor
            id="com.waratek.rules.presentation.RulesEditorID"
            name="%_UI_RulesEditor_label"
            icon="icons/full/obj16/RulesModelFile.gif"
            extensions="rdf"
            class="com.waratek.rules.presentation.RulesEditor"
            contributorClass="com.waratek.rules.presentation.RulesActionBarContributor">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.waratek.rules.ui.emf.editor.RulesEditorAdvisorApplication"
            description="%productDescription"
            name="Security Rules Editor">
         <property
               name="appName"
               value="Security Rules Editor">
         </property>
         <property
               name="windowImages"
               value="icons/icon_16.gif,icons/icon_32.gif,icons/icon_48.gif,icons/icon_64.gif,icons/icon_128.gif">
         </property>
         <property
               name="aboutImage"
               value="icons/icon_128.gif">
         </property>
         <property
               name="aboutText"
               value="The Waratek Security Rules Editor is used to create custom rules for Waratek AppSec for Java and Waratek Locker.

Waratek, Waratek AppSecurity for Java, Waratek Locker and Waratek Security Rules Editor are Trademarks of Waratek and may not be used without written permission.">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
