<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2014 Waratek Ltd.
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated rules -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.waratek.rules.presentation.RulesModelWizardID"
            name="%_UI_RulesModelWizard_label"
            class="com.waratek.rules.presentation.RulesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RulesModelFile.gif">
         <description>%_UI_RulesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rules -->
      <editor
            id="com.waratek.rules.presentation.RulesEditorID"
            name="%_UI_RulesEditor_label"
            icon="icons/full/obj16/RulesModelFile.gif"
            extensions="rdf"
            class="com.waratek.rules.presentation.RulesEditor"
            contributorClass="com.waratek.rules.presentation.RulesActionBarContributor">
      </editor>
   </extension>

</plugin>
